/* CSS Document */
BODY, TABLE, TR, TD, INPUT, TEXTAREA, SELECT
	{	font-family:verdana, ±¼¸², Seoul, gulim;
		font-size: 9pt;
		letter-spacing:-0.5px;
        color: #757575 }
		
a:link, a:active, a:visited
	{	font-size: 9pt;
		color: #818181;
 	 	text-decoration: none;
		letter-spacing:-0.5px	}
				

a:hover	{	font-size: 9pt;	color: #F6900C;	text-decoration: none;	letter-spacing:0.5px;	}

/* »ó´Ü¸Þ´º Start*/
.topmenu {
	font-family:verdana, ±¼¸², Seoul, Gulim;
	font-size: 9pt;
	color: #000000;
	letter-spacing:-0.5px;
}		
.topmenu a:link{	font-size: 9pt;	color: #000000;	text-decoration: none;letter-spacing:-0.5px;}
.topmenu a:active{	font-size: 9pt;	color: #000000;	text-decoration: none;letter-spacing:-0.5px;}
.topmenu a:visited{	font-size: 9pt;	color: #000000;	text-decoration: none;letter-spacing:-0.5px;}
	
.topmenu a:hover
	{	font-size: 9pt;
		color: #ffffff;
		text-decoration: none;
		letter-spacing:-0.5px;
		}
/* »ó´Ü¸Þ´º End */

/* À§Ä¡ Start*/
.location {
	font-size: 9pt;
	color: #ED7500;
	letter-spacing:-0.5px;
}		

/* À§Ä¡ End */
.calendar1
	{	font-family:verdana, ±¼¸², Seoul, Gulim;
		font-size: 12pt;
		letter-spacing:-1px;
		font-weight: bold;
		color: #FFFFFF;
	 }

.calendar2
	{	font-family:verdana, ±¼¸², Seoul, Gulim;
		font-size: 12pt;
		letter-spacing:-1px;
		font-weight: bold;
		color: #F04D22;
	 }

.calendar3
	{	font-family:verdana, ±¼¸², Seoul, Gulim;
		font-size: 12pt;
		letter-spacing:-1px;
		font-weight: bold;
		color: #2368B3;
	 }


.calendar4 {
	font-family:verdana, "±¼¸²", Seoul, dotum;
	font-size: 9pt;
	letter-spacing:-1px;
	color: #6B960A;
	font-weight: bold;
	text-decoration: underline;
	padding-top: 3px;
}

.calendar4_ {
	font-family:verdana, "±¼¸²", Seoul, dotum;
	font-size: 15pt;
	letter-spacing:-1px;
	color: #6B960A;
	font-weight: bold;
	padding-top: 3px;
}

.white {
	color: #FFFFFF;
}